{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'zodiac/css/home.css' %}">{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="text-header">
        <h1 class="text-light"><span class="first-let">Знаки Зодиака</span></h1>
        <hr>
    </div>

    <ul class="list-group list-sign">
        {% for sign in object_list  %}
            <li><a href="{{ sign.get_absolute_url }}">{{ sign.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <div class="col-md-3">

        <div class="news mt-5 mx-5">
            <p class="text-light text-center"> Планеты</p>
            <img class="w-100" src="{% static 'zodiac/img/planet.jpg' %}"
                 alt="">

            <a class="text-decoration-none" target="_blank" href=""><p class="text-light text-center">Читать</p></a>
        </div>


        <div class="news mt-5 mx-5 ">
            <p class="text-light text-center"> Стихии</p>
            <img class="w-100 " src="{% static 'zodiac/img/elements.jpg' %}"
                 alt="">

            <a class="text-decoration-none" target="_blank" href="{% url 'zodiac:elements' %}"><p class="text-light text-center">Читать</p></a>
        </div>

    </div>
{% endblock %}